In [1]:
print("Muhammad Qasim")

Muhammad Qasim

In [3]:
print("Qasim", 'Aslam',"Pakistani", 50)

Qasim Aslam Pakistani 50

In [4]:
print("Qasim", 'Aslam',"Pakistani", 50, sep="\n")

Qasim
Aslam
Pakistani
50

In [5]:
print("Qasim", 'Aslam',"Pakistani", 50, sep="\t")

Qasim	Aslam	Pakistani	50

In [9]:
print("Qasim", 'Aslam',"Pakistani", 50, sep="*")

Qasim*Aslam*Pakistani*50

In [6]:
print("Qasim")
print("Aslam")
print("Pakistani")
print(50)

Qasim
Aslam
Pakistani
50

In [8]:
print("Qasim", end=" ")
print("Aslam", end=" ")
print("Pakistani", end=" ")
print(50, end=" ")

Qasim Aslam Pakistani 50

# Data Types

In [11]:
a = "Muhammad Qasim"
b = "Muhammad Aslam"
a
b

'Muhammad Aslam'

In [12]:
a

'Muhammad Qasim'

In [13]:
type(a)

str

In [14]:
a = 20
a

20

In [15]:
type(a)

int

In [16]:
a = 89.9
a

89.9

In [17]:
type(a)

float

In [18]:
type(True)

bool

In [19]:
type(False)

bool

In [20]:
type(20)

int

In [21]:
a = ['qasim','asif', 'ali']
a[1]

'asif'

In [22]:
type(a)

list

In [23]:
a = ('qasim','asif', 'ali') #tuple
a[1]

'asif'

In [24]:
type(a)

tuple

In [25]:
a = {
    'name':'Qasim',
    'nationality': 'pakistani',
    'father': "Muahammad Aslam"
}
a

{'name': 'Qasim', 'nationality': 'pakistani', 'father': 'Muahammad Aslam'}

In [26]:
a["father"]

'Muahammad Aslam'

In [27]:
type(a)

dict

# Control Flow

if login:
    true statment
else:
    false statment

In [28]:
if True:
    print("Pakistan")
else:
    print("USA")

Pakistan

In [29]:
if False:
    print("Pakistan")
else:
    print("USA")

USA

# Loop

while logic:
    statment

In [30]:
a = 1
while a<=5:
    print(a)
    a=a+1

1
2
3
4
5

In [31]:
l= ['a','b','c']

for i in l:
    print(i)

a
b
c